
.pane {
    
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('../../assets/images/background_inner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.listview {
    margin:0px;
    color:white;
    text-align:center;
}

.item.item-trns-schedule {
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: white; 
    padding : 0;
}

.item.item-trns-schedule * {
    color: white;
}

a{
    text-decoration: none;
}


.item[isOdd='true'] {
    
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(152,152,152,0.2);
    color: white; 
}