.divider_chat *{
    padding-left:4%;
    padding-top:2%;
    margin: 0;
    border-color: white;
	background-color: #ababab;
}

.row-50 {
  min-height: 50%;
  max-height: 50%;
}
.row-25 {
  min-height: 25%;
  max-height: 25%;
}

.row-75{
  min-height: 75%;
  max-height: 75%;
}

.row-66{
  min-height: 66%;
  max-height: 66%;
}

.what{
  color:white;
  padding:0;
  padding:5%;
}